:root {
  /* Brand */
  --brand-100: #f4e6d2;
  --brand-200: #f2daba;
  --brand-300: #f1c68b;
  --brand-400: #e7b369;
  --brand-500: #da9e3f;
  --brand-600: #ca8a10;
  --brand-700: #a36e09;
  --brand-800: #7e5403;
  --brand-900: #442e09;

  /* Blue */
  --blue-100: #d6e7f8;
  --blue-200: #bfdbf8;
  --blue-300: #8cc3fc;
  --blue-400: #60aaf3;
  --blue-500: #3690e3;
  --blue-600: #0d7dd4;
  --blue-700: #005fa8;
  --blue-800: #00437f;
  --blue-900: #002549;

  /* Green */
  --green-100: #ddeed4;
  --green-200: #cde8c0;
  --green-300: #a8dc8c;
  --green-400: #8fcb6d;
  --green-500: #70b445;
  --green-600: #5ba224;
  --green-700: #3c740d;
  --green-800: #2b5409;
  --green-900: #193008;

  /* Orange */
  --orange-100: #f9e3d5;
  --orange-200: #f9d6bf;
  --orange-300: #ffbd8e;
  --orange-400: #f7a062;
  --orange-500: #dd7b2b;
  --orange-600: #cc6600;
  --orange-700: #994a00;
  --orange-800: #6f3600;
  --orange-900: #3f2007;

  /* Red */
  --red-100: #fedbd7;
  --red-200: #fdc9c4;
  --red-300: #fda19a;
  --red-400: #f28881;
  --red-500: #df6862;
  --red-600: #ce514d;
  --red-700: #9d3533;
  --red-800: #722423;
  --red-900: #401312;

  /* Neutral */
  --neutral-100: #e9e4de;
  --neutral-200: #ded6cd;
  --neutral-300: #b6aca1;
  --neutral-400: #a99c8e;
  --neutral-500: #867867;
  --neutral-600: #695b4b;
  --neutral-700: #4b4034;
  --neutral-800: #342c23;
  --neutral-900: #1f1913;
}
